.p-banner {
    @apply bg-surface-50 relative flex;

    &:focus {
        @apply outline-none outline-offset-0;
    }

    &--key-focused {
        outline: 2px solid #005BD3 !important;
    }

    &--within-page {
        @apply relative rounded-xl;
        box-shadow: 0 0.1875rem 0.0625rem -0.0625rem rgba(26,26,26,.07);
    }

    &--within-content-container {
        @apply rounded-lg;
    }

    &__box {
        @apply w-full box-border;
    }

    &__stack {
        @apply flex flex-col justify-between;
    }

    &__header {
        padding-block-end: .75rem;
        padding-block-start: .75rem;
        padding-inline-end: .75rem;
        padding-inline-start: .75rem;
        border-start-end-radius: .75rem;
        border-start-start-radius: .75rem;

        &--info {
            @apply bg-info-300;
            color: #002133;
        }

        &--success {
            @apply bg-success-400;
            color: #F8FFFB;

            svg path {
                fill: #F8FFFB;
            }
        }

        &--warning {
            @apply bg-warning-300;
            color: #002133;
        }

        &--critical {
            @apply bg-critical-500;
            color: #F8FFFB;

            svg path {
                fill: #F8FFFB;
            }
        }
    }

    &__header-within-component {
        @apply w-full rounded-lg;
        padding-block-end: .5rem;
        padding-block-start: .5rem;
        padding-inline-end: .5rem;
        padding-inline-start: .5rem;

        &--info {
            @apply bg-info-100 text-info-800;

            svg path {
                @apply fill-info-800;
            }
        }

        &--success {
            @apply bg-success-100 text-success-800;

            svg path {
                @apply fill-success-800;
            }
        }

        &--warning {
            @apply bg-warning-100 text-warning-800;

            svg path {
                @apply fill-warning-800;
            }
        }

        &--critical {
            @apply bg-critical-100 text-critical-800;

            svg path {
                @apply fill-critical-800;
            }
        }
    }

    &__body {
        padding-block-end: 1rem;
        padding-block-start: 1rem;
        padding-inline-end: 1rem;
        padding-inline-start: 1rem;
    }

    &__header-stack {
        @apply flex justify-between items-center flex-nowrap gap-2;
    }

    &__icon-box {
        @apply rounded-lg;
        padding-block-end: .25rem;
        padding-block-start: .25rem;
        padding-inline-end: .25rem;
        padding-inline-start: .25rem;

        &--info {
            @apply bg-info-300;
        }

        &--success {
            @apply bg-success-400;
            color: #F8FFFB;

            svg path {
                fill: #F8FFFB;
            }
        }

        &--warning {
            @apply bg-warning-300;
            color: #002133;
        }

        &--critical {
            @apply bg-critical-500;
            color: #F8FFFB;

            svg path {
                fill: #F8FFFB;
            }
        }
    }

    &__body-stack {
        @apply flex flex-col gap-2;
    }

    &__button-group {
        @apply flex flex-wrap items-center gap-x-2;
        margin-top: calc(.5rem * -1);
        margin-left: calc(.5rem * -1);
    }

    &__button-item {
        @apply mt-2 ml-2;
    }

    &__title {
        @apply flex flex-nowrap items-center justify-between gap-1 lg:gap-2;
    }

    &__title-within-component {
        @apply flex flex-nowrap justify-between items-start gap-1 lg:gap-2;
    }
}