.p-button {
  @apply inline-block bg-surface text-base rounded-lg relative;
  line-height: 1rem;
  box-shadow: inset 0 -0.0625rem 0 #b5b5b5, inset -0.0625rem 0 0 #e3e3e3, inset 0.0625rem 0 0 #e3e3e3, inset 0 0.0625rem 0 #e3e3e3;
  transition: background-color 75ms cubic-bezier(0.19, 0.91, 0.38, 1), box-shadow 75ms cubic-bezier(0.19, 0.91, 0.38, 1);

  &:hover {
    @apply bg-surface-200;
    outline: 0.0625rem solid transparent;
  }

  &:active {
    @apply bg-surface-200;
    box-shadow: 0 0.125rem 0.0625rem 0 rgba(26, 26, 26, .2) inset, 0.0625rem 0 0.0625rem 0 rgba(26, 26, 26, .12) inset, -0.0625rem 0 0.0625rem 0 rgba(26, 26, 26, .12) inset;
  }

  &:focus-visible {
    outline: 0.125rem solid #005bd3;
    outline-offset: 0.0625rem;
  }

  &--medium {
    @apply px-3 py-1.5;
  }

  &--large {
    @apply px-3 py-2;
  }

  &--plain {
    @apply bg-transparent shadow-none border-0 text-emphasis;
    margin: calc(calc(2.25rem - 1.25rem - 0.125rem) / 2 * -1) calc(0.75rem * -1);
  }

  &--plain:hover {
    @apply underline bg-transparent shadow-none text-emphasis-600;
  }

  &--monochrome-plain {
    @apply bg-transparent shadow-none border-0 text-font underline;
  }

  &--monochrome-plain:hover {
    @apply bg-transparent shadow-none;
  }

  &--monochrome-plain &__content {
    @apply font-normal;
  }

  &--critical.p-button--plain {
    @apply text-critical-800;
  }

  &--critical.p-button--plain:hover {
    @apply text-critical-900;
  }

  &--left {
    @apply text-left;
  }

  &--center {
    @apply text-center;
  }

  &--right {
    @apply text-right;
  }

  &--primary {
    @apply relative bg-primary text-white shadow-none;
  }

  &--primary:before {
    content: "";
    @apply absolute left-0 right-0 top-0 bottom-0;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .07) 80%, hsla(0, 0%, 100%, .15));
    box-shadow: 0 0.125rem 0 0 hsla(0, 0%, 100%, .2) inset, 0.125rem 0 0 0 hsla(0, 0%, 100%, .2) inset, -0.125rem 0rem 0rem 0rem hsla(0, 0%, 100%, .2) inset, 0 -0.0625rem 0 0.0625rem #000 inset, 0 0.0625rem 0 0 #000 inset;
    border-radius: 0.5625rem;
    transition: opacity 75ms cubic-bezier(.19, .91, .38, 1);
  }

  &--primary:hover {
    @apply bg-primary-600 text-surface-300 shadow-none;
  }

  &--primary:active {
    @apply bg-primary-600 text-surface-300;
    box-shadow: 0 0.1875rem 0 0 #000 inset;
  }

  &--primary:active:before {
    opacity: 1;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, 0));
    box-shadow: 0 0.1875rem 0 0 #000 inset;
  }

  &--success.p-button--primary {
    @apply bg-success-400;
  }

  &--success.p-button--primary:before {
    @apply border-inherit bg-none bottom-0;
    box-shadow: 0 0.0625rem 0 0 rgba(255, 255, 255, 0.48) inset, -0.0625rem 0 0 0 rgba(255, 255, 255, 0.20) inset, 0.0625rem 0 0 0 rgba(255, 255, 255, 0.20) inset, 0 -0.09375rem 0 0 rgba(0, 0, 0, 0.25) inset;
    left: 0.03125rem;
    right: 0.03125rem;
    top: 0.03125rem;
  }

  &--success.p-button--primary:hover {
    @apply bg-success-500;
  }

  &--success.p-button--primary:active {
    @apply bg-success-800;
    box-shadow: 0 0.125rem 0 0 rgba(0, 0, 0, 0.60) inset, 0.0625rem 0 0.0625rem 0 rgba(0, 0, 0, 0.20) inset, -0.0625rem 0 0.0625rem 0 rgba(0, 0, 0, 0.20) inset;
  }

  &--success.p-button--primary:active:before {
    @apply opacity-0;
  }

  &--critical.p-button--primary {
    @apply bg-critical-500;
  }

  &--critical.p-button--primary:before {
    @apply border-inherit bg-none bottom-0;
    box-shadow: 0 0.0625rem 0 0 hsla(0, 0%, 100%, .48) inset, -0.0625rem 0 0 0 hsla(0, 0%, 100%, .2) inset, 0.0625rem 0 0 0 hsla(0, 0%, 100%, .2) inset, 0 -0.09375rem 0 0 rgba(0, 0, 0, .25) inset;
    left: 0.03125rem;
    right: 0.03125rem;
    top: 0.03125rem;
  }

  &--critical.p-button--primary:hover {
    @apply bg-critical-600;
  }

  &--critical.p-button--primary:active {
    box-shadow: 0 0.125rem 0 0 rgba(0, 0, 0, .6) inset, 0.0625rem 0 0.0625rem 0 rgba(0, 0, 0, .2) inset, -0.0625rem 0 0.0625rem 0 rgba(0, 0, 0, .2) inset;
  }

  &--critical.p-button--primary:active:before {
    @apply opacity-0;
  }

  &--tertiary {
    @apply shadow-none bg-transparent border-transparent;
  }

  &--tertiary:hover {
    @apply bg-transparent;
    background-color: rgba(0,0,0,.05);
  }

  &--tertiary:focus-visible {
    box-shadow: inset 0 -0.0625rem 0 #b5b5b5, inset -0.0625rem 0 0 #e3e3e3, inset 0.0625rem 0 0 #e3e3e3, inset 0 0.0625rem 0 #e3e3e3;
  }

  &--tertiary:active {
    box-shadow: 0 0.125rem 0.0625rem 0 rgba(26, 26, 26, .2) inset, 0.0625rem 0 0.0625rem 0 rgba(26, 26, 26, .12) inset, -0.0625rem 0 0.0625rem 0 rgba(26, 26, 26, .12) inset;
  }

  &__content {
    @apply flex items-center justify-center;
    font-weight: 500;
    transition: transform 75ms cubic-bezier(.19, .91, .38, 1);
  }

  &:active &__content {
    transform: translateY(.0625rem);
  }

  &--monochrome-plain:active &__content {
    @apply transform-none;
  }

  &--primary &__content {
    @apply font-semibold;
  }

  &--plain &__content {
    @apply font-normal;
  }

  &--plain:active &__content,
  &--tertiary:active &__content {
    @apply transform-none;
  }

  &--full-width {
    @apply w-full;
  }

  &--disabled {
    @apply transition-none shadow-none pointer-events-none text-disabled #{!important};
    border-color: #ebebeb !important;
    background: rgba(0, 0, 0, .05) !important;
  }

  &--primary.p-button--disabled {
    @apply text-white #{!important};
    background: rgba(0, 0, 0, .17) !important;
  }

  &--tertiary.p-button--disabled,
  &--plain.p-button--disabled {
    @apply bg-transparent text-disabled #{!important};
  }

  &--disabled:before {
    @apply shadow-none #{!important};
  }

  &--loading {
    @apply transition-none shadow-none pointer-events-none text-transparent #{!important};
    border-color: #ebebeb !important;
    background: rgba(0, 0, 0, .05) !important;
  }

  &--loading:before {
    @apply shadow-none #{!important};
  }

  &__spinner {
    @apply absolute top-1/2 left-1/2;
    margin-top: calc((1.25rem / 2) * -1);
    margin-left: calc((1.25rem / 2) * -1);
  }

  &__spinner .p-spinner svg {
    fill: rgba(0, 0, 0, .17);
  }

  &--large.p-button--icon-only {
    @apply pl-1.5 pr-1.5;
  }

  &--icon-only {
    @apply pl-1 pr-1;
  }

  &--icon-only &__icon {
    @apply mx-0;
  }

  &__icon {
    @apply -m-0.5;
    margin-left: calc((0.25rem)*-1);
    //margin-left: calc((0.25rem) * -1);
    //margin-top: calc(0.125rem*-1);
    //margin-bottom: calc(0.125rem*-1);
  }

  &__icon + *:not(&__icon) {
    @apply ml-1;
  }

  //&__icon:last-child {
  //  @apply -mr-1.5 ml-0.5;
  //}
}