.p-page {
  @apply mx-auto p-0;
  max-width: 62.375rem;
  
  @screen sm {
    @apply px-6;
  }

  &__header {
    @apply p-space-400;

    @screen sm {
      @apply pl-0 pr-0;
    }

    @screen md {
      @apply pt-6 pb-6;
    }
  }

  &__header-top {
    @apply flex;
  }

  &__back {
    @apply mr-2;
  }

  &__action-menu {
    @apply flex ml-auto justify-end gap-x-1;

    @screen md {
      @apply w-auto;
    }
  }

  &__action-primary {
    @apply ml-1;
  }

  &__action-menu-trigger {
    @apply bg-surface-300;
  }

  &__action-menu-trigger:hover {
    background-color: #d4d4d4;
  }

  &__secondary-button {
    @apply bg-surface-300;
  }

  &__secondary-button:hover {
    background-color: #d4d4d4;
  }

  &__title-wrapper {
    @apply flex items-center;
  }

  &__header-top &__header-title {
    @apply hidden w-full flex-1;

    @screen md {
      @apply block;
    }
  }

  &__header-top + div {
    @apply block mt-2;

    @screen md {
      @apply hidden;
    }
  }

  &__title {
    @apply mr-2;
  }

  &__subtitle {
    @apply mt-1;
  }
}