.p-text-field {
  @apply text-base;

  &--read-only {
    @apply text-subdued;
  }

  &--disabled {
    @apply text-disabled;
  }

  &--disabled &__backdrop,
  &--read-only &__backdrop
  {
    @apply bg-surface-disabled border-none;
  }

  &--disabled &__input:hover ~ &__backdrop,
  &--read-only &__input:hover ~ &__backdrop
  {
    @apply bg-surface-disabled;
  }

  &--error &__input ~ &__backdrop,
  &--error &__input:hover ~ &__backdrop,
  &--error &__input:focus ~ &__backdrop
  {
    @apply bg-critical-200 border-critical-700;
  }

  &__error {
    @apply mt-1;
  }

  &--required-indicator &__label:after {
    content: '*';
    @apply text-critical-700 ml-1;
  }

  &__input-container {
    @apply flex items-center relative;
  }

  &__input {
    @apply py-1.5 px-3 rounded-lg w-full relative z-20 bg-transparent;
    line-height: 18px;
    min-height: 2rem;
  }

  &__input:focus {
    @apply outline-none;
    line-height: 18px;
  }

  &__input:hover ~ &__backdrop {
    @apply border-subdued;
    background-color: #fafafa;
  }

  &__label-wrapper {
    @apply flex justify-between mb-1;
  }

  &__label {
    @apply block break-words;
    overflow-wrap: break-word;
  }

  &__backdrop {
    @apply rounded-lg absolute top-0 left-0 right-0 bottom-0 bg-surface-100 z-10;
    border: 0.04125rem solid #8a8a8a;
  }

  &__input:focus ~ &__backdrop {
    @apply border-primary-600 bg-surface-200;
    border-width: 0.0625rem;
    outline: 0.125rem solid #005bd3;
    outline-offset: 0.0625rem;
  }

  &__number-actions {
    @apply flex flex-col cursor-pointer justify-center z-20 m-1;
    width: 1.375rem;
  }

  &--number &__number-actions {
    @apply invisible;
  }

  &--number &__input:hover ~ &__number-actions,
  &--number &__input:focus ~ &__number-actions {
    @apply visible;
  }

  &--number &__input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  &--number &__input[type=number]::-webkit-outer-spin-button,
  &--number &__input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__number-button:first-child {
    @apply mb-0 rounded-bl-none rounded-br-none;
    border-top-right-radius: calc(0.25rem - 0.125rem);
  }

  &__number-button:last-child {
    @apply rounded-tl-none rounded-tr-none;
  }

  &__number-button {
    @apply bg-surface-300 rounded flex justify-center items-center h-3 overflow-hidden;
    width: 22px;
  }

  &__number-button:hover {
    background-color: #d4d4d4;
  }

  &__number-icon {
    @apply absolute pointer-events-none;
    width: 1.4rem;
    height: 1.4rem;
  }

  &__number-icon path {
    fill: #4a4a4a;
  }

  &__prefix {
    @apply relative z-20 ml-3 mr-2 text-subdued;
    line-height: 1.5rem;
  }

  &__prefix + &__input {
    @apply pl-0;
  }

  &__suffix {
    @apply relative z-20 text-subdued mr-3 ml-1;
  }

  &__clear-button {
    @apply relative z-20 ml-1 mr-3 opacity-0 invisible;
    transition: visibility 200ms cubic-bezier(0.42, 0, 0.58, 1), opacity 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  &__clear-button path {
    fill: #8a8a8a;
  }

  &:focus-within &__clear-button {
    @apply opacity-100 visible;
  }

  &__connected {
    @apply flex items-center;
  }

  &__item:not(:first-child) {
    @apply ml-1;
  }

  &__item--primary {
    @apply flex-1;
  }

  &__character-count {
    @apply text-subdued z-20 mr-3 ml-1 pointer-events-none text-right;
    line-height: 1.5rem;
  }

  &__help-text {
    @apply mt-1;
  }
}